# Executable
experiments

# Tmp txt files
tmp*.txt

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Ignore .vscode folder
.vscode/

# Ignore .dSYM folders
*.dSYM

# Ignore .DS_Store files
.DS_Store

# Ignore these sat_files for now
sat_files/random_sat_files/
sat_files/sat_2002_benchmark/
sat_files/SAT11-Competition-SelectedBenchmarks
sat_files/BigFiles