config.mk
build
nohup.out
output*/
gmon.out
benches/

# input_0.txt, input_1.txt, etc. all ignored
input_*.txt

sat_files/

heuristic_benchmarking_results/

*.ttf

**/__pycache__/

bin/minisat
bin/

SAT2017_Benchmark/